{% extends "/blog.main.twig" %}

{% block content %}
	<section class="w100 mb10">
		<article class="w100 mb10 center">
			<div class="w100 mb10"><h2>{{ post.title }}</h2></div>
			<div class="w100 mb10">{{ post.message }}</div>
			<div class="w100 post_created_modified">Geschreven door: {{ post.firstname }} {{ post.lastname }}, Geschreven op : {{ post.created }}, Gewijzigd op {{ post.modified }}</div>
			<div class="w100 mb10"><a href="/author/{{ post.author_id }}">Lees alle posts van deze auteur</a></div>
		</article>
	</section>
{% endblock %}