<section id="posts">
	{% include '/post/blog.posts.twig' %}
</section>
{% if author is defined %}
	{% if author.id == current_author.id %}
		<section id="post_create">
			
			<div class="w100 mb10">
				<a href="javascript:postEditGet('new')">Maak een nieuwe blog post</a>
			</div>

			<div id="post_create_form" class="w100 mb10">

			</div>

		</section>
	{% endif %}
{% endif %}