<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
		<title>Mike's Open Blog</title>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
		
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
	</head>
	<body>
		<section type='horizontal_wrapper'>
			<div class='content_wrapper'>
				<div class="col span_3_of_12">
					<h2 class="mb10">Menu</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="javascript:menuRegister();">Meld je aan als auteur</a></li>
						<li><a href="javascript:menuLogin();">Login</a></li>
					</ul>
					<br/>
					<br/>
					<br/>
					<h2 class="mb10">Bloggers</h2>
					{% if authors|length > 0 %}
						{% for author in authors %}
							<a href="/author/{{ author.id }}">{{ author.firstname }} {{ author.lastname }}</a><br/>
						{% endfor %}
					{% else %}
						Er zijn nog geen bloggers, klik <a href="javascript:menuRegister();">hier</a> of op 
						&quot;Meld je aan als auteur&quot; boven in het menu om je aan te melden als auteur.
					{% endif %}
					<br/>
					<br/>
					<br/>
					{% if author is defined %}
						<h3>Actieve Auteur</h3>
						<span class="author_name">{{ author.firstname }} {{ author.lastname }}</span><br/>
						<br/>
						<ul>
							<li><a href="/author/{{ author.id }}">Bekijk eigen blogposts.</a></li>
						<ul/>
						<br/>
						<span class="author_date">{{ author_login_time }} - {{ author_login_date }}</span><br/>
						<a href="/author_logout">Logout</a>
						<br/>
					{% endif %}
					<br/>
					<h4>Vandaag</h4>
					<span class="date">{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}</span>
				</div>
				<div class="col span_9_of_12" id="main_content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</section>
	</body>
</html>