<h2 class="mb10">Login</h2>
<form id="author_login_form" action="/author_login" method="post">
	<label for="email">E-mail</label><br/>
	<input type="text" id="email" name="email" class="w100" placeholder="E-mail" value=""/><br/>
	<br/>
	<label for="password">Wachtwoord</label><br/>
	<input type="password" id="password" name="password" class="w100" placeholder="Wachtwoord" value=""/><br/>
	<br/>
	<input type="submit" value="Verstuur" class="w100"/>
</form>
