@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,400,600,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body
{
	color: #767676;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffffff; 
}

h1,h2,h3,h4,h5
{
	font-family: 'Berkshire Swash', cursive;
	color: #3E826C;
	background-color: transparent;
	text-shadow: 2px 2px 0px rgba(62, 130, 108, 0.4);
}

h1
{
	font-size: 32px;
}

h2
{
	font-size: 28px;
}

h3
{
	font-size: 24px;
}

h4
{
	font-family: "Great Vibes",cursive;
	font-size: 20px;
}

h5
{
	font-family: "Great Vibes",cursive;
	font-size: 16px;
}

input 
{
	color: #767676;
	font-style: italic;
}

img
{
	padding: 0;
	margin: 0;
	border: none;
}

strong
{
	font-weight: 700;
}

em
{
	font-style: italic;
}

input
{
	padding: 5px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

label
{
	color: #51ab8e;
	font-family: 'Lobster';
	font-size: 18px;
	display: block;
	cursor: pointer;
}


input[type='button']
{
	float: left;
	
	border: solid 1px #3e826c;
	background-color: #51ab8e;
	
	padding: 5px;
	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: normal;
	
	color: #fff;
	
	cursor: pointer;
}

input[type=checkbox] {margin: 5px;}

a
{
	color: #51ab8e;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

hr
{
	margin: 10px 0 10px 0;
	border: 1px solid #A0CEC0;
	height: 2px;
	color: #A0CEC0;
	box-shadow: 0px 2px 2px 0px #A0CEC0;
}





/*  Algemeen  ============================================================================= */

/*Kolom wrapper, hierin staat alles*/
.horizontal_wrapper
{
	float: none;
	width: 100%;
}

/**Hierin wordt de content gecentreerd**/
.content_wrapper
{
	min-width: 480px;
	max-width: 996px;
	overflow-x:hidden;
	margin: 0 auto;
}

.error
{
	border-color: #f00;
	color: #f00;
}
.mb10
{
	margin: 10px 0;
}

.w100{ width: 100%;}
.w50{ width: 50%;}

.hidden{display: none!important;}

/*  Quotes  ============================================================================= */
.quote
{
	display: inline-block;
	width: 100%;
	
	background-color: transparent;
	color: #3e826c;
	font-family: 'Great Vibes', cursive;
	font-size: 48px;
	text-align: center;
	
	text-shadow: 2px 2px 4px rgba(62, 130, 108, 0.8);
}

.quote_author
{
	display: inline-block;
	width: 100%;
	
	color: #51ab8e;
	font-family: 'Berkshire Swash', cursive;
	font-size: 16px;
	text-align: center;
}

.author_name
{
	font-family: "Great Vibes",cursive;
	color: #75978C;
	font-size: 18px;
}

.author_date
{
	font-size: 10px;
}


.date
{
	font-size: 10px;
}

.post_created_modified
{
	font-size: 10px;
	font-style: italic;
	font-weight: 300;
}
a.delete_yes
{
	color: #F50D00;
}

.center
{
	text-align: center;
}


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF TWELVE   ======================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}

.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%; 
}

.span_6_of_12 {
	width: 49.2%; 
}

.span_5_of_12 {
	width: 40.73%; 
}

.span_4_of_12 {
	width: 32.26%; 
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
	width: 15.33%; 
}

.span_1_of_12 {
	width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%; 
	}
}


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}