{% extends "/blog.main.twig" %}

{% block content %}
	<section class="w100 mb10">
		<span class="quote mb10">{{ quote.quote }}</span>
		<span class="quote_author">{{ quote.author }}</span>
	</section>
	<section class="w100 mb10">
		{% for post in posts %}
			<article class="w100 mb10 center">
				<h4>{{ post.title }}</h4>
				<span id="post_{{ post.id }}_short">{{ post.message[:100]|striptags }}</span><br/>
				<span class="post_created_modified">Geschreven door: {{ post.firstname }} {{ post.lastname }}, Geschreven op : {{ post.created }}, Gewijzigd op {{ post.modified }}</span><br/>
				<a href="/post/{{ post.id }}">Lees verder</a>
			</article>
		{% endfor %}
	</section>
{% endblock %}